<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Minha Página com EJS</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript"
        src="https://api.pre.globalgetnet.com/dpm/digital-platform/antifraud/afdf.js?session=<%= deviceId %>&country=<%= country %>">
        </script>
</head>

<body>
    <h1>Olá, <%= deviceId %> for <%= country %>!</h1>
    <p>Esse é um teste para device fingerprint! 🚀</p>
    <p>
        <form method="post" action="/">
            <input type="hidden" name="country" value="BR"/>
            <button type="submit">BR</button>
        </form>
    </p>
    <p>
        <form method="post" action="/">
            <input type="hidden" name="country" value="CL"/>
            <button type="submit">CL</button>
        </form>
    </p>
    <p>
        <form method="post" action="/">
            <input type="hidden" name="country" value="MX"/>
            <button type="submit">MX</button>
        </form>
    </p>
    <p>
        <form method="post" action="/">
            <input type="hidden" name="country" value="AR"/>
            <button type="submit">AR</button>
        </form>
    </p>

</body>

</html>